body {
  background-color:#f7f4f4;
}
nav {
  background-color: #f7f4f4;
  padding: 10px;
  text-align: center;
  position:absolute;
  top:0px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f7f4f4;
  display: inline-block;
}
ul > li {
  float: left;
  display:inline;
  padding-left:15px;
  text-transform: uppercase;
  text-align: center;
}
h1, h2 {
  margin-top:44px;
  background-color: #f7f4f4;
  padding:15px;
}